.card{
	margin: 7%;
	/*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	padding: 0;
}
.card-head{
	padding: 2%;
}
.card-body{
	padding: 1.25rem 0;
}
.card-footer{
	padding: 1% 3%;
	border: 0;
	background: inherit;
	text-align: left;
}


.card .form-control{
	margin: 1% 0;
}

.card label{
	margin: 2%;
	text-align: left !important;
}

.card .btn{
	margin: 4% 0;
}

.card .name{
	width: 45%;
	display: inline;
}


.card-label{
	text-align: left;
}

.card-upload .card-body{
	padding: 2%;
}

.card-upload .form-control{
	width: 60%;
	margin: 1% 20% 5% 20%;
	text-align: center;
}

.card-upload .card-footer{
	width: 60%;
	margin: 1% 20% 5% 20%;
	text-align: center;
}

.btn{
	text-align: center;
}

.btn-glb{
	background: -moz-linear-gradient(-45deg, #283c86 0%, #45a247 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #283c86 0%,#45a247 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #283c86 0%,#45a247 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#283c86', endColorstr='#45a247',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border:0;
	border: 1.5px solid #f0f0f0;
	border-radius: 10px;
	padding: 0.7rem;
	width: 15%;
	font-size: 1.3rem;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 200ms ease-in-out;
}

.btn-glb:hover{
	border-color: #f0f0f0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.30);
	transition: all 200ms ease-in-out;
}

.main-nav{
	border-bottom: 4px solid #283c86;
	padding: 1%;
}


.filter{
	text-align: left;
	padding: 5%;
	margin: 3% 0 0 3%;
}


.feed-filter h3{
	text-align: center;
}

#feed-upload{
	padding: 2.5%;
	margin: 1.2% 0 0 5%;
	border-bottom-right-radius: 0;
}

.profile-thumb{
	border: 2px solid #283c86;
	margin-right: 1%;
	border-radius: 100%;
}

.feed-upload{
	color: #283c86;
	background: #f0f0f0;
	width: 100%;
	padding: 1.5% 2%;
	border: 2px solid #ccc;
	border-bottom-right-radius: 0;
}



.feed-upload_main{
	width: 100%;
	margin: 1% 5%;
	padding: 2%;
}


.form-wrapper{
	width: 100%;
}

.form-control{
	width: 80%;
	margin: 1%;
}

#upload_form_spacer{
	width: 100%;
}

.img-upload-target{
	padding: 3%;
	color: #283c86;
	border: 2px dotted #283c86;
}


.tiny-form{
	width: 70%;
}

.icon-btn-prepend{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.icon-btn-append{
	position: relative;
	left: 4px;
	border: 2px solid inherit #283c86;
	background: inherit;
}

.m-l-4{
	margin-left: 3.5%;
}

.no-padding{
	padding:0;
	margin:0;
}


#minimise-filter{
	position: relative;
	left: 100%;
	bottom: 5%;
	background: inherit;
}

.mini-filter {
	padding: 2% 2.5% 2%;
	border: 2px solid #ccc;
	border-left:0;
}

#minimise-upload{
	position: relative;
	left: 95%;
	bottom: 1px;
	background: #fff;
	z-index: 9999;
	width: 60%;
}

.mini-upload{
	padding: 1%;
	border: 1px solid #0000001a;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}


.form-check-wrapper{
	margin: 10%;
}


.social-head{
	padding: 2%;
	margin-top: 1.3rem;
	margin-left: .5rem;
}
.card-post-location{
	margin-left: 2%;
}

.card-post-timestamp{
	position: absolute;
	right: 25px;
	top: 25px;
}
.caption{
	width: 90%;
	font-size: .9em;
}
.card-footer{
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.controls{
	width: 20%;
	line-height: 2rem;
}
.controls ul{
	display: inline-flex;
}
.controls ul > li{
	list-style: none;
	margin: 10%;
}
.seperator{
	border: 1px solid #ccc;
	border-top: 0;
	border-bottom: 0;
	height: 2rem;
}


.inline{
	display: inline-flex;
}


.fab{
	position: fixed;
	bottom: 5%;
	right: 5%;
	border: 2px solid #f0f0f0;
	background: #283c86;
	width: 4rem;
	height: 4rem;
	border-radius: 100%;
	text-align: center;
	font-size: 2.4rem;
	color: #f0f0f0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.fab-mini{
	display: none;
	background: #00ff00;
	position: fixed;
	right: 6%;
	bottom: 17%;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 100%;
	color: #f0f0f0;
	text-align: center;
	font-size: 1.75rem;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.fab:hover{
	cursor: pointer;
}

.fab:hover{
	.fab-mini{
		display: block;
	}
}


.hr{
	padding: 1%;
	width: 60%;
	border-top: 2px dotted orange;
	margin:0;
	margin-left: 20%;
}

.stats{
	float: right;
	text-align: right;
}
.photos-toggle{
	margin-left:  10%;
	margin-right: 10%;
	text-align: center;
	line-height: 2rem;
}

.photos-toggle .seperator{
	margin: 0 10%;
}

.profile-header-collapse{
	width: 100%;
	display: none;
    position: fixed;
    top: 0;
	height: 100px;
	z-index: 999;
	padding: .7rem;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.profile-header-collapse img{
	position: relative;
	top: 0;
	margin-left: 5%;
}
.profile-header-collapse h3{
	position: relative;
	top: -8rem;
	text-align: center;
}


.social-head, .profile-name{
	display: inline-flex;
}
.profile-creds{
	margin-left: .5rem;
}
.profile-thumb{

}


.post-loc{
	font-size: .8rem;
}

#map_canvas{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	padding: 10%;
	border: 2px solid #000;
	z-index: 0;
}

.map-filter{
	padding: 1%;
	display: inline-flex;
	width: 80%;
	z-index: 999;
	position: absolute;
	top: 5px;
	left: 0%;
	margin: 1px 11%;
	background: #f0f0f0;
	border-bottom: 2px solid teal;
}
.map-filter form{
	width: 100%;
	/*override the default form display property */
	display: inline-flex !important;
}
.filter-results{
	position: absolute;
	top: 4.9rem;
	left: 0;
	padding: 10px;
	background: #f1f1f1;
	color: teal;
	margin: 1% 35%;
	text-align: center;
	width: 30%;
	overflow-x: hidden;
	z-index: 999;
	font-size: .8em;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

.map-filter .form-control{
	width: 100%;
}
.map-full{
	overflow-x: hidden;
	width: 100%;
	max-width: 100%;
}


.remodal{
	padding: 4%;
	border-radius: 2rem;
}

.remodal-wrapper{
	margin: 1%;
}
