
@import 'typography';
@import 'components';

.intro{
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
	z-index: -100;
}


.intro{
	h1{
		font-size: 6em;
	}
	h1, h3{
		color: #f0f0f0;
		margin-top: 5%;
	}
}

.minimise{
	position: relative;
	top: 3px;
	right: 3px;
}

.form-hidden{
	display: none;
}

.form-visible{
	display: block;
	width: auto;
}


#feed-main{
	background: #fefefe;
}
.profile-header{
	padding: 0;
	background: -moz-linear-gradient(45deg, $bluePrimary 0%, $greenPrimary 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, $bluePrimary 0%,$greenPrimary 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, $bluePrimary 0%,$greenPrimary 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$bluePrimary, endColorstr=$greenPrimary,GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	.follow{
		position: absolute;
		top: 5%;
	}
}

.profile-header-intro{
	 h1, h4, p, a{
		 color: #f0f0f0 !important;
		text-align: left;
		text-shadow: $textShadow;
	}
}

.profile-header-intro h1{
	margin-top: 5%;
}

.profile-header-img{
	border-radius: 100%;
	border: 2px solid #f0f0f0;
	display: block;
	margin: 2em auto;
}
.profile-main{
	text-align: left;
}
.profile-main, .profile-main_stats, .profile-main_gallery{
	margin: 5% 1.5% 1% 1%;
}

.login{
	background: url(../img/login.jpg);
	background-size: cover;
	height: 110vh;
	background-repeat: no-repeat;
	text-align: center;

	.card{
		.form-control{
			margin: 1% auto;
		}
	}
	h1{
		font-size: 4em;
		margin: 1em auto .5em auto;;
		text-align: center;
		text-shadow: $textShadow;
	}
	.register-cta{
		display: block;
		margin: 0 auto;
		text-align: center;
		background: none;
		font-size: 1.3em;
		a{
			color: #fff !important;
			text-shadow: $textShadow;
		}
	}
}


.register{
	background: url(../img/register.jpg);
	background-size: cover;
	height: 125vh;
	background-repeat: no-repeat;
	text-align: center;

	h1{
		font-size: 4em;
		margin: 1em auto .5em auto;
		text-align: center;
		text-shadow: $textShadow;
	}
	.card{
		label{
			margin: 10% 0 0 0;
		}
		.form-control{
			padding-top: 0;
		}
	}
	.login-cta{
		display: block;
		margin: 0 auto;
		text-align: center;
		background: none;
		font-size: 1.3em;
	}
	a{
		color: #fff !important;
		text-shadow: $textShadow;
	}
}
