@import 'typography';
@import 'components';

.intro{
	background: url('../img/main-bg.jpg') #272727;
	background-position: center;
	background-size: cover;
	height: 100vh;
}

.intro h1{
	font-size: 6em;
}

.intro h1, h3{
	color: #f0f0f0;
	margin-top: 5%;
}



body {
	.unsplash-credit{
		position: fixed;
		z-index: 9999;
		bottom: 0px;
		left: 5px;
		color: #f0f0f0;
		padding: 1%;
		background: #000;
	}
}


#feed-main{
	background: #fefefe;
}
