$headingFont: 'PT Sans Narrow', sans-serif;
$bodyFont: 'Roboto', sans-serif;


$heading-color: #81f8d6;

$heading-spacing: .6px;
$heading-margin: 1%;


h1, h2, h3, h4, h5, h6{
	font-family: $headingFont;
	letter-spacing: $heading-spacing;
	margin: $heading-margin;
	color: $heading-color !important;
	text-align: center;
}

body, p, i{
	font-family: $bodyFont;
}
