$font-stack-headings: 'Muli', sans-serif;
$font-stack-body: 'Open Sans', sans-serif;

$heading-color: #283c86;
$body-color: #161616;

$heading-spacing: .6px;
$heading-margin: 1%;


h1, h2, h3, h4, h5, h6{
	font-family: $font-stack-headings;
	letter-spacing: $heading-spacing;
	margin: $heading-margin;
	color: $heading-color;
}

body, p, i{
	font-family: $font-stack-body;
	color: $body-color;
}

.section-heading{
	color: $heading-color;
	padding-bottom: 5%;
}
