<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <title>Globe</title>

  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all">

  <link rel="canonical" href="">

    <!-- Google Fonts
	<link href="https://fonts.googleapis.com/css?family=Muli|Open+Sans" rel="stylesheet"> -->

	<link rel="stylesheet" href="/static/css/font-awesome.css">

	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>

	<link rel="stylesheet" href="/static/css/bootstrap.min.css">

	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="stylesheet" href="/static/css/remodal.css">
	<link rel="stylesheet" href="/static/css/remodal-default-theme.css">


</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light main-nav" id="nav">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"><img src="/static/img/brand.png" class="img-brand" style="height:2.5rem;" alt="Globe icon logo"></a>

		<div class="nav navbar-nav navbar-right">
			<a href="/feed/" class="nav-item">Feed</a>
		</div>
	</div>
</nav>

    {% block content %}
    {% endblock %}

	<script src="/static/js/font-awesome.min.js"></script>
	<script src="/static/js/remodal.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>

</html>
