{% extends 'base.html' %}
{% block content %}
<script src="{{ url_for('static', filename='js/three.js') }}"></script>
<script src="{{ url_for('static', filename='js/vrview.js') }}"></script>
<script src="{{ url_for('static', filename='js/embed.js') }}"></script>
<script src="{{ url_for('static', filename='js/device-motion-sender.min.js') }}"></script>


<iframe src="{{ url_for('static', filename='js/vrview.js') }}?image=https://s3.us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-908893185885/christ-redeemer.jpg&is_stereo=true">
</iframe>








{% endblock %}
