{% extends 'base.html' %}
{% block content %}

<section>
 	<div class="container text-center">
		<div id="feed-main_controls">
			<form action="/upload/" method="post">
				<i class="fa far-upload"></i>
				<input type="text" class="form-control" id="feed-upload-form" name="content" />
			</form>
		</div>

		<div id="feed-main">
			<div class="row align-items-center justify-content-center">

				<div class="col-xs-12">
					<div class="card">
						<div class="card-head">
							<a href="#0">Josh</a> <p>Benidorm, Spain</p>
						</div>
						<div class="card-body">
							<iframe width="600" height="400" allowfullscreen style="border-style:none;" src="https://cdn.pannellum.org/2.3/pannellum.htm#panorama=https%3A//i.imgur.com/L6SiMTm.jpg"></iframe>
						</div>
						<div class="card-footer">
							<p>It was amazing! Check this out!</p>
						</div>
					</div>
				</div>

				<div class="col-xs-12">
					<div class="card">
						<div class="card-head">
							<a href="#0">Josh</a> <p>Benidorm, Spain</p>
						</div>
						<div class="card-body">
							<iframe width="600" height="400" allowfullscreen style="border-style:none;" src="https://cdn.pannellum.org/2.3/pannellum.htm#panorama=https%3A//i.imgur.com/L6SiMTm.jpg"></iframe>
						</div>
						<div class="card-footer">
							<p>It was amazing! Check this out!</p>
						</div>
					</div>
				</div>

				<div class="col-xs-12">
					<div class="card">
						<div class="card-head">
							<a href="#0">Josh</a> <p>Benidorm, Spain</p>
						</div>
						<div class="card-body">
							<iframe width="600" height="400" allowfullscreen style="border-style:none;" src="https://cdn.pannellum.org/2.3/pannellum.htm#panorama=https%3A//i.imgur.com/L6SiMTm.jpg"></iframe>
						</div>
						<div class="card-footer">
							<p>It was amazing! Check this out!</p>
						</div>
					</div>
				</div>

			</div> <!--/row-->
		</div>
</section>


{% endblock %}
