{% extends 'no_nav.html' %}
{% block content %}

<section class="lightbox">
	<div class="action">
		<a href="{{backLink}}">
			<i class="fas fa-long-arrow-alt-left "></i>
			Back
		</a>
	</div>
	<div class="image">
		<img src="{{post.image}}" alt="{{post.postContent}}">
	</div>
	<div class="bottom-nav">
		<div class="profile">
			<a href="/user/{{post.user.username}}/profile/" class="no-margin">
				<img class="img img-circle profile-thumb" height="50px" src="/static/img/default_profile.jpg" width="50px">
			</a>
			<!--<img src={{post.user.photo}} alt="users profile picture">-->
			<a href="/user/{{post.user.username}}/profile/"><b class="post-caption">{{post.user.username}}</b></a>
			<p class="post-caption">{{post.postContent}}</p>
		</div>
		<div class="likes-counter">
			<i class="far fa-heart"></i>{{post.likesCount}}
			<p class="post-caption"><a href="/explore/{{post.city}}">{{post.city}}</a></p>
		</div>

		<!--<div class="comments">
			{% for comment in post.comments %}
				<img src={{comment.user.photo}} alt="users profile picture">
				<p class="post-caption">{{comment.comment}}</p>
			{% endfor %}
		</div>-->
	<div>
</section>

{% endblock %}
