{% extends 'base_map.html' %}
{% block content %}

<section class="map-full">
	<div id="map_canvas"></div>
	<div class="container">
		<div class="map-filter">
			<p>Currently exploring:</p>
			<h2>{{location}}</h2>
			<a href="#0" onclick="update_loc();" class="btn btn-outline-secondary mr-3">Update</a>
			<a href="#0" onclick="mini_filter();" class="btn btn-outline-secondary">Minimise</a>
		</div>

		<div class="filter-results">
			<span>Showing {{count}} pins in 50mi radius</span>
		</div>

		<div class="map-update" style="display: none;">
			<form action="/explore/" method="get">
				<label for="filter">Enter a city or country</label>
				<input type="text" class="form-control form-control-md" name="filter" placeholder="Beijing, 	China">
				<input type="submit" class="btn btn-primary-outline btn-md" value="Filter"/>
			</form>
		</div>

	</div>
</section>


<script>

jQuery(function($) {
    // Asynchronously Load the map API
    var script = document.createElement('script');
    script.src = "https://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize&key={{key}}";
    document.body.appendChild(script);
});

function initialize() {
    var map;
    var bounds = new google.maps.LatLngBounds();
    var mapOptions = {
	    mapTypeId: 'roadmap',
		center: '{{center}}'
	}

    // Display a map on the page
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    map.setTilt(45);

    // Multiple Markers
    var markers = [
		{% for post in posts %}
			['{{ post.city }}', {{ post.coordinates }}],
		{% endfor %}
    ];

     //Info Window Content
    var infoWindowContent = [
		{% for post in posts %}
        	['<div class="info_content">' +
        	'<h5><a href="/post/{{post.id}}">View</a></h5>' +
        	'<p>{{post.postContent}}</p>' +
			'</div>'],
		{% endfor %}
    ];

    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;

    // Loop through our array of markers & place each one on the map
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0]
        });

        // Allow each marker to have an info window
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));

        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);
    }

    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(14);
        google.maps.event.removeListener(boundsListener);
    });

}

</script>
{% endblock %}
