{% extends 'base_map.html' %}
{% block content %}


<div class="container">
	<div class="map-filter">
		<form action="/explore/" method="get">
			<i class="text-danger">Looks like your search didnt return any results. Please try again</i>
			<br />
			<label for="filter">Enter a city or country</label>
			<input type="text" class="form-control form-control-md" name="filter" placeholder="Beijing, China">
			<input type="submit" class="btn btn-primary-outline btn-md" value="Filter"/>
		</form>
	</div>
</div>

{% endblock %}
