{% extends 'base.html' %}
{% block content %}
<body data-spy="scroll" data-target=".profile-header-collapse" data-offset="50">
<section>
	<div class="profile-header">
		<div class="row">
			<div class="col-xs-12 col-md-2">
				<img class="profile-header-img" src="{{user.photo}}" width="150px" height="150px">
			</div>
			<div class="col-xs-12 col-md-8">
				<div class="profile-header-intro">
					<h1>{{user.forename}} {{user.surname}}</h1>
					<p><a href="/profile/{{username}}">@{{user.username}}</a></p>
					<h4>{{user.city}}</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="profile-sub-nav">
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top sticky-top">
			{% if lightbox %}
				<a class="navbar-brand" href="/profile/{{post.username}}#photos">About</a>
				<a class="nav-item nav-link" href="/profile/{{post.username}}#photos">Photos</a>
				<a class="nav-item nav-link" href="/profile/{{post.username}}#folowers">Followers</a>
			{% else %}
				<a class="navbar-brand" href="/profile/#photos">About</a>
				<a class="nav-item nav-link" href="/profile/#photos">Photos</a>
				<a class="nav-item nav-link" href="/profile/#followers">Followers</a>
			{% endif %}
		</nav>
	</div>
	{% if lightbox %}
		{% if post.isPanorama %}
		<iframe allowfullscreen height="400" src=
		"https://cdn.pannellum.org/2.3/pannellum.htm#panorama=https://{{post.image}}"
		style="border-style:none;" width="600"></iframe>
		{% else %}
			<img src="{{post.image}}" width="auto">
		{% endif %}
	{% else %}
	<div class="container">
		<div class="profile-main">
			<h2 class="section-heading">Bio</h2>
				{% if user.biography == 'None' %}
					<p>This user has no biography :(</p>
				{% else %}
					<p>{{user.biography}}</p>
					<a href="#0">Report</a>
				{% endif %}
		</div>
		<div class="profile-main_stats">
			<h2>Quick Maffs</h2>
			<div class="row text-center">
				<div class="col-xs-12 col-sm-4">
					10
				</div>
				<div class="col-xs-12 col-sm-4">
					10
				</div>
				<div class="col-xs-12 col-sm-4">
					10
				</div>
			</div>
		</div>
		<div class="profile-main_gallery">
			<div class="row ma-1">
				<div class="col text-left">
					<h2 class="section-heading gallery-nav">Photos</h2>
				</div>
				<div class="col text-center">
					<div class="photos-toggle gallery-nav inline">
						<a href="#0" class="active">Grid</a>

						<span class="seperator"></span>

						<a href="#0" class="">Map</a>
					</div>
				</div>
				<div class="col text-right">
					<div class="stat gallery-nav">
						<i class="fa fa-camera-retro"></i> 622
					</div>
				</div>
			</div>
			<div class="row no-gutters">
				{% for post in posts %}
				<div class="col-xs-12 col-sm-4">
            		<div class="card gallery">
              			<img src="{{post.image}}" alt="Card image cap" width="100%" height="250px">
            		</div>
				</div>
				{% endfor %}
			</div>

			<div class="row no-gutters">
				<div class="col-xs-12 col-sm-4">
            			<div class="card gallery">
              				<img src="/static/img/default_profile.jpg" alt="Card image cap" width="100%" height="250px">
              				<p class="card-text"></p>
            			</div>
					</div>
				<div class="col-xs-12 col-sm-4">
            			<div class="card gallery">
              				<img src="/static/img/default_profile.jpg" alt="Card image cap" width="100%" height="250px">
              				<p class="card-text"></p>
            			</div>
					</div>
				<div class="col-xs-12 col-sm-4">
            		<div class="card gallery">
              				<img src="/static/img/default_profile.jpg" alt="Card image cap" width="100%" height="250px">
            			</div>
					</div>
				</div>

				<div class="row ma-1">
					<div class="col text-left">
						<p class="gallery-nav">Previous</h2>
					</div>
					<div class="col text-center">
						<div class="gallery-nav inline">
							<a href="#0" class="active">1</a> of <a href="#0" class="">6</a>
						</div>
					</div>
					<div class="col text-right">
						<p class="gallery-nav">Next</h2>
					</div>
				</div>


			</div>

		<div class="profile-main_followers">
			<div class="row ma-1">
				<div class="col text-left">
					<h2 class="section-heading gallery-nav">Followers</h2>
				</div>
			</div>
			<div class="row ma-2">
				{% for person in followers %}
					<div class="col-xs-6 col-md-3 text-center">
						<a href="/user/{{person.user.username}}">
							<img src={{person.user.photo}} alt="image of user {{person.user.username}}" 	class="profile-thumb" width="75px" height="75px">
						</a>
						<a href="/user/{{person.user.username}}" class="follower-sub">{{person.user.forename}} {{person.user.surname}}</a>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="profile-main_followers">
			<div class="row ma-1">
				<div class="col text-left">
					<h2 class="section-heading gallery-nav">Following</h2>
				</div>
			</div>
			<div class="row ma-2">
				{% for person in users %}
					<div class="col-xs-6 col-md-3 text-center">
						<a href="/user/{{person.username}}">
							<img src={{person.photo}} alt="image of user {{person.username}}" 	class="profile-thumb" width="75px" height="75px">
						</a>
						<a href="/user/{{person.username}}" class="follower-sub">{{person.forename}} {{person.surname}}</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div><!--/container-->
	{% endif %}
</section>
<script>
$(document).scroll(function () {
    var y = $(this).scrollTop();
    if (y > 385) {
        $('.profile-header-collapse').fadeIn("smooth");
    } else if (y < 385){
        $('.profile-header-collapse').fadeOut("smooth");
    }

});
</script>
{% endblock %}
