{% block content %}

<section class="register">
 	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="card" style="width:30rem;">
					<div class="card-body">
						<h2 class="card-title">Create an Account</h2>
						<h6 class="card-subtitle mb-5">It's free and only takes a minute</h6>
						<form class="card-form" method="post" action="/user/register/">
							<label class="card-label" for="email">Email</label>
							<input class="form-control" type="email" name="email" placeholder="you@example.com" />

							<label class="card-label" for="name">Name</label>
							<br />

							<div class="form-inline">
								<div class="form-group">
									<input class="form-control name" type="text" name="forename" placeholder="Forename" style="margin-right: 2.5%;" />
									<input class="form-control name" type="text" name="surname" placeholder="Surname" />
								</div>
							</div>

							<br />

							<label class="card-label" for="password">Secure Password</label>
							<input class="form-control" name="password" type="password" />

							<div class="text-center">
								<input type="submit" class="btn btn-primary text-center" value="Next" />
							</div>
					</div>
				</div>
				<div class="progress">
  					<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="33.3" aria-valuemin="0" aria-valuemax="100" style="width: 33.3%; height: 30px;"></div>
				</div>
			</div>
  		</div>
	</div>
</section>




{% endblock %}
